%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{href: root_path } Diário Online
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
    %ul.navbar-nav.ml-auto
      %li.nav-item.active
        %a.nav-link{href: "#"}
          Notícias
          %span.sr-only (current)
      - unless current_user
        %li.nav-item
          %a.nav-link{href: user_session_path } Login
      - else
        %li.nav-item
          %a.nav-link{href: destroy_user_session_path } Logout
      - if current_user
        - unless current_user.admin?
          %li.nav-item
            %a.nav-link{href: "#"} Amigos
        - else
          %li.nav-item
            %a.nav-link{href: "#"} Redação
    %form.form-inline.my-2.my-lg-0
      %input.form-control.mr-sm-2{"aria-label" => "Search", placeholder: "Search", type: "search"}/
      %button.btn.btn-outline-success.my-2.my-sm-0{type: "submit"} Search